body{
    display: flex;
    font: normal 15px Arial;
    flex-direction: row;
}

section{
    background: black;
    padding: 5%;
    width: 5%;
    color: white; 
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    height: 50px;
}

#diferente{
    background: black;
    width: 8%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
