body{
    display: flex;
    font: normal 15px Arial;
    flex-direction: row;
    justify-content: center;
}

section{
    background: rgb(29, 29, 129);
    padding: 10%;
    width: 20%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#logradouro, #cep{
    width: 182px;
    color: rgb(218, 218, 218);
}

#bairro{
    width: 170px;
    color: rgb(218, 218, 218);
}

#localidade, #uf{
    color: rgb(218, 218, 218);
}

